<p>
The purpose of this module is to provide students with working knowledge about the brain in the field of cognitive neuroscience, and practical experience of analysing fMRI data. The module interweaves lectures and hands-on experience of data processing, using the University cloud computing infrastructure. Students will familiarise themselves with each step of a typical processing pipeline, learn how to script and automate analyses, and be introduced to the best practices in reproducible neuroimaging.
</p>
<p>
To introduce recent ideas, techniques and current state of knowledge about the brain, in the field of cognitive neuroscience, and develop practical expertise in the tools and methods used in the analysis of fMRI data. Students will develop a critical appreciation of neuroimaging, with a view to understanding current directions and methodological debates, and supporting a career in the field.
</p>

<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
