<p>
The purpose of this module is to provide students with working knowledge about the brain in the field of cognitive neuroscience, and practical experience of analysing fMRI data. The module interweaves lectures and hands-on experience of data processing, using the University cloud computing infrastructure. Students will familiarise themselves with each step of a typical processing pipeline, learn how to script and automate analyses, and be introduced to the best practices in reproducible neuroimaging.
</p>
<p>
Our aim is to introduce recent ideas, techniques and current state of knowledge about the brain, in the field of cognitive neuroscience, and develop practical expertise in the tools and methods used in the analysis of fMRI data. Students will develop a critical appreciation of neuroimaging, with a view to understanding current directions and methodological debates, and supporting a career in the field.
</p>

<p>You can access the Module Description <a href="https://www.reading.ac.uk/modules/document.aspx?modP=PYM0FM&modYR=1920">there</a>, including some information about expected contact hours: Please note that we have scheduled 16h in class, and that 84h are to be allocated to guided independent study, including the assessment.</p>

<p>
    For more information on what we teach and why,
    please see<br/>
    &ndash; Poldrack et al. (2011). Handbook of functional MRI data analysis. Cambridge Univ. Press. <a href="http://www.fmri-data-analysis.org/">http://www.fmri-data-analysis.org</a><br/>
    &ndash; Kennedy et al. (2019). Everything matters: the repronim perspective on reproducible neuroimaging. Frontiers in Neuroinformatics, 13(1). <a href="https://www.frontiersin.org/articles/10.3389/fninf.2019.00001/full">https://doi.org/10.3389/fninf.2019.00001</a><br/>
    &ndash; Ghosh et al. (2017). A very simple, re-executable neuroimaging publication. F1000 6(124). <a href="https://f1000research.com/articles/6-124">https://doi.org/10.12688/f1000research.10783.2</a><br/>
    &ndash; Wilson et al. (2014). Best Practices for Scientific Computing. PLOS Biology 12(1). <a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">https://doi.org/10.1371/journal.pbio.1001745</a>
</p>
