<div class="row">
  <div class="col-md">
    <!-- <h3>Tuesday 8th October 2019</h3>-->
    <table class="table table-striped">
      <tr> <td>Tue 8/10 (w2), 4-6pm</td> <td><a href="{{ site.pym0fm_pre_survey }}">Pre-workshop survey</a>, <a href="https://docs.google.com/presentation/d/1SZZsDeVe-Dgfhi8IdZw_stlqscPT9GXZWqa5egb8zU8/edit?usp=sharing">slides</a>, <a href="https://rrc.reading.ac.uk:9440/console/#login">CINN Nutanix Virtual Machines platform</a> </td> </tr>
      <tr> <td>Tue 15/10 (w3), 4-6pm</td> <td><a href="https://swcarpentry.github.io/shell-novice/">shell</a>, <a href="https://rrc.reading.ac.uk:9440/console/#login">CINN Nutanix Virtual Machines platform</a> and don't forget the <a href="https://docs.google.com/document/d/1s6YERF7Abc75SSNma0dg22aCsa4j9DAWl00I5OV3piQ/edit#">Collaborative Document</a>! </td> </tr>
      <tr> <td>Tue 22/10 (w4), 4-6pm</td> <td>Basics of fMRI analysis: <a href="{{ page.root }}/files/week%204%20-%20neuro.pdf">slides neuro</a> + <a href="{{ page.root }}/files/week%204%20-%20intro.pdf">slides intro fmri</a> + <a href="{{ page.root }}/files/week_4_worksheet.docx">worksheet</a></td> </tr>
      <tr> <td>Tue 29/10 (w5) 4-6pm</td> <td>Feat: <a href="{{ page.root }}/files/week_5.pdf">slides</a> + <a href="{{ page.root }}/files/week_5_FEATpre-processing_exercise.pdf">worksheet</a></td> </tr>
      <tr> <td>Tue 12/11 (w7), 4-6pm</td> <td><a href="">Recap: from collecting samples to calculating regressions</a></td> </tr>
      <tr> <td>Tue 19/11 (w8), 4-6pm</td> <td>Recap: fMRI pre-processing (<a href="{{ page.root }}/files/week_8%20-%20preps%20and%20activation.pptx">slides</a>) and single session analysis (<a href="{{ page.root }}/files/week_8%20-%20single%20session.ppt">slides</a>) + <a href="{{ page.root }}/files/week_8_FEATpre-processing_exercise.docx">worksheet</a></td> </tr>
      <tr> <td>Tue 26/11 (w9), 4-6pm</td> <td>Multi-sessions analysis (<a href="{{ page.root }}/files/week_9%20-%20multisession.ppt">slides</a> + <a href="{{ page.root }}/files/week_9_worksheet.doc">worksheet</a>)</td> </tr>
      <tr> <td>Tue 3/12 (w10), 4-6pm</td>  <td>Thresholding (<a href="{{ page.root }}/files/week_10%20-%20thresholding.ppt">slides</a>+ <a href="{{ page.root }}/files/week_10_worksheet.doc">worksheet</a>)</td> </tr>
    </table>
  </div>
  <!--
  <div class="col-md-6">
    <h3>Of abacus, computers and the internet</h3>
      The main aim of Day 1 is introduce you to some of the tools of the trade. We will
      </div>
  -->
</div>
