<div class="row">
  <div class="col-md-6">
    <h3>Tuesday 8th October 2019</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>:00</td>  <td></td> </tr>
      <tr> <td>:00</td>  <td></td> </tr>
      <tr> <td>:00</td>  <td></td> </tr>
      <tr> <td>:00</td>  <td></td> </tr>
      <tr> <td>:00</td>  <td></td> </tr>
      <tr> <td>:00</td>  <td></td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Of abacus, computers and the internet</h3>
      The main aim of Day 1 is introduce you to some of the tools of the trade. We will
  </div>
</div>
